

<div class="div_brand-filter">

  <p>FILTRAGE : </p>

  <a>Marque : </a>
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
  <label class="form-check-label" for="flexCheckDefault1">
    Renault
  </label>
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
  <label class="form-check-label" for="flexCheckDefault2">
    Ford
  </label>
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
  <label class="form-check-label" for="flexCheckDefault3">
    Fiat
  </label>
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
  <label class="form-check-label" for="flexCheckDefault4">
    VolksWagen
  </label>
  <p></p>
  <a>Catégorie : </a>
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
  <label class="form-check-label" for="flexCheckDefault5">
    Utilitaire
  </label>
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6">
  <label class="form-check-label" for="flexCheckDefault6">
    Loisir
  </label>
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault7">
  <label class="form-check-label" for="flexCheckDefault7">
    Luxe
  </label>
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault8">
  <label class="form-check-label" for="flexCheckDefault8">
    Mariage
  </label>


</div>
