<div class="div_inHome">

  <img class="homeIllustration" src="assets/img/homeIllustration.jpg" alt="Le logo n'est pas chargé" title="Hé, survolle pas ça, t'es fou !?">

  <p class="texteHome"> Depuis 2021, <strong>rentalux</strong> vous accompagne dans la location de toutes sortes de véhicules.
    Quelque soit votre besoin, <strong>rentalux</strong> est le partenaire de votre réussite.
    Pour réserver un véhicule, il vous suffit de créer un compte (gratuit) et de vous connecter.
    Vous pourrez ensuite choisir le véhicule adéquat et le réserver à une date libre. Le véhicule sera
    livré sur le <a class="lienDropSite"  routerLink="/dropsite">drop site</a> de votre choix afin de vous offrir un maximum de liberté.
  </p>

</div>
