

<div class="div_brand-filter">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Usage
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li *ngFor="let element of availableUsageList">
        <input class="form-check-input" type="checkbox"  value="" (change)="reactToUsageCheck(element)">
        <label class="form-check-label" >{{element.name}}</label>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
      Marque
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
      <li *ngFor="let element of availableBrandList">
        <input class="form-check-input" type="checkbox"  value="" (change)="reactToBrandCheck(element)">
        <label class="form-check-label" >{{element.name}}</label>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
      Modele
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
      <a *ngIf="availableModelList.length==0">Veuillez selectionner une marque.</a>
      <li *ngFor="let element of availableModelList">
        <input class="form-check-input" type="checkbox"  value="" (change)="reactToModelCheck(element)">
        <label class="form-check-label" >{{element}}</label>
      </li>
    </ul>
  </div>

  <button  (click)="displayRequested()" type="submit" class="btn btn-primary">Filtrer</button>


</div>
