

<div class="div_brand-filter">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Usage
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li *ngFor="let element of availableUsageList">
        <input class="form-check-input" type="checkbox"  value="" (change)="reactToUsageCheck(element)">
        <label class="form-check-label" >{{element.name}}</label>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
      Marque
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
      <li *ngFor="let element of availableBrandList">
        <input class="form-check-input" type="checkbox"  value="" (change)="reactToBrandCheck(element)">
        <label class="form-check-label" >{{element.name}}</label>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
      Modele
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">


      <a *ngIf="availableModelList.length==0">Veuillez selectionner une marque.</a>

      <li *ngFor="let requestedBrand of requestedBrandList">

        <div class="dropdown">
          <a>{{requestedBrand.name}}</a>

          <a *ngFor="let availableModel of availableModelList">
            <br *ngIf="modelOfBrand(requestedBrand,availableModel)" >
            <input *ngIf="modelOfBrand(requestedBrand,availableModel)" class="form-check-input" type="checkbox"  value="" (change)="reactToModelCheck(availableModel)">
            <label *ngIf="modelOfBrand(requestedBrand,availableModel)" class="form-check-label" >{{availableModel}}</label>
          </a>

        </div>

      </li>


    </ul>
  </div>

  <button  (click)="displayRequested()" type="submit" class="btn btn-primary">Filtrer</button>

<!-- FIN DES DROPS DOWN DE FILTRAGE VEHICULES  -->


<!-- DROPS DOWN CALENDRIERS  -->

<!--  <form [formGroup]="offreFormGroup" (ngSubmit)="onSubmit()" class="row g-3">-->
<form class="row g-3">
  <div *ngIf="isLoggedAsUser()" class="col-md-6">
    <label for="inputdateB" class="form-label">Début de location</label>
    <input type="date" class="form-control" id="inputdateB" >
<!--    <input type="date" class="form-control" id="inputdateB" formControlName="dateDepart" formControlName="dateDepart" >-->
  </div>
  <div *ngIf="isLoggedAsUser()" class="col-md-6">
    <label for="inputdateA" class="form-label">Fin de location</label>
    <input type="date" class="form-control" id="inputdateA">
<!--    <input type="date" class="form-control" id="inputdateA" formControlName="dateArrive" formControlName="dateArrive" >-->
  </div>
</form>

<br>

</div>
