
<header id='section_header'>
  <img class="logo" src="assets/img/rentalux_logo.jpg" alt="Le logo n'est pas chargé" title="Hé, survolle pas ça, t'es fou !?">
</header>

<section id='section_englobante'>
  <div id='div_navigation'>
    <app-nav id="APPNAVID"></app-nav>
  </div>
  <div id='div_routeroutlet'>
    <router-outlet></router-outlet>
  <!-- C'est ici que vont se charger/décharger les components liés à la route activée -->
  </div>

</section>

<footer id='section_footer'> <!-- Section inférieure footer -->
  <div id='div_liens_externes'>
    <h4>Liens externes</h4>
    <p><a href="http://www.google.be"> Google Belgique</a></p>
    <p><a href="http://www.hotmail.com"> Hotmail.Com</a></p>
    <p><a href="http://www.technobel.be"> Technobel</a></p>
  </div>

  <div id='div_copyright'>
    <h6> Copyright FOXWORK 2021</h6>

  </div>

</footer>





