#section_englobante{
  /*border: 2px solid blue;*/

  display: inline-block;
  width: 80%;
  text-align: center;
  min-height: 500px;
}

#section_header{
  /*border: 2px solid blue;*/

  display: inline-block;
  text-align: center;
  width: 80%;
}

#section_footer{
  /*border: 2px solid blue;*/

  display: inline-block;
  width: 80%;
}


#div_liens_externes{
  text-align: center;
  text-decoration: underline;
  width: 100%;
  color: rgb(80,80,80);
  /*border: 2px solid red;*/
}


#div_copyright{
  text-align: center;
  text-decoration: underline;
  width: 100%;
  /*border: 2px solid blue;*/
}


.logo{
  width: 400px;
}


#div_routeroutlet{
  display: inline-block;
  background-color: rgb(240, 240, 240);
  border: 10px solid rgb(240, 240, 240);
  min-width: 500px;
  max-width: 850px;
}
