
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="inputUsername" class="form-label">username</label>
    <input type="text" formControlName="username" class="form-control" id="inputUsername">
  </div>

  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" formControlName="password" class="form-control" id="inputPassword">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
