<nav class="div_navigationBOOT">
  <div>
<!--    <button>-->
<!--      <span> COUCOU </span>-->
<!--    </button>-->
    <div>
      <a class="navLink" routerLink="/home">Home</a>
      <a class="navLink" routerLink="/vehicle">Vehicules</a>
      <a class="navLink" routerLink="/dropsite">DropSites</a>
      <a class="navLink" routerLink="/secondhand">Occasions</a>
      <a *ngIf="isLogged()" class="navLink" routerLink="/userprofile">Profil</a>
      <a *ngIf="!isLogged()" class="navLink" routerLink="/login">Log In</a>
      <a *ngIf="isLogged()" (click)="logOut()" routerLink="/home" class="navLink"> Log out </a>

    </div>

  </div>
</nav>
