
<div class="div_car-display">

  <p *ngIf="vehicleListFromDisplay.length<1">Aucun véhicule à afficher :(</p>


  <table *ngIf="vehicleListFromDisplay.length>0">
    <thead>
      <tr>
        <th class="carTab">ID</th>
        <th class="carTab">Marque</th>
        <th class="carTab">Modele</th>
        <th class="carTab">Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicleListFromDisplay">
        <td class="carTab">{{vehicle.id}}</td>
        <td class="carTab">{{vehicle.brand.name}}</td>
        <td class="carTab">{{vehicle.model}}</td>
        <td class="carTab">{{vehicle.usage.name}}</td>
        <td class="carTab">
          <button  (click)="bookVehicule(vehicle.id)" type="submit" class="btn btn-primary">Réserver</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
